@use "1-base/breakpoints";
@use "1-base/reset";
@use "1-base/roots";
@use "2-globals/generals";
@use "2-globals/article";
@use "3-layout/layout";
@use "3-layout/main";
@use "3-layout/navigation";
@use "3-layout/video";
@use "3-layout/slider";