@use "1-base/breakpoints";
@use "1-base/reset";
@use "1-base/roots";
@use "2-globals/generals";
@use "2-globals/article";
@use "3-layout/layout";
@use "3-layout/navigation";
@use "3-layout/bio";
@use "3-layout/diashow";
@use "3-layout/research";
@use "3-layout/contentblocks";
// @use "3-layout/slider";
