body {
  color: #000;
  background-color: transparent;
  font-family: "helvetica-neue-lt-pro", sans-serif;
}

h1,
h2,
h3,
p,
a,
span {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: underline;
  color: #000;
  transition: color 0.2s ease;
}

a:has(img) {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.bold {
  font-weight: 800;
}
