//! Styles for artist, environment, program
.page-content {
  padding: calc(40px + (2 * var(--space-lg))) var(--space-xs) var(--space-sm)
    var(--space-md);
  position: relative;
  width: 65%;
  margin-left: 35%;
  transition: margin-left 0.3s ease;
  overflow: visible;

  &__article {
    column-count: 2;
    column-gap: 1rem;
    margin: var(--space-sm) 0;
    p {
      margin-bottom: var(--space-sm);
      text-align: justify;
      hyphens: auto;
    }

    a {
      text-decoration: underline;
      &:hover {
        color: var(--color-accent-light);
        cursor: pointer;
      }
    }
    a[data-tag]:hover {
      color: var(--color-accent);
    }
    a:not([data-tag]):hover {
      color: var(--color-accent-light);
    }
  }

  h1,
  h2 {
    margin-bottom: var(--space-md);
    font-weight: 800;
  }

  &__media-thubnail {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  &__media-thubnail-left,
  &__media-thubnail-right {
    flex-shrink: 0;
    margin: 0 5px;
    flex-basis: calc(50% - 10px);
    display: flex;
  }
  &__media-thubnail-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__media-thubnail-right-img {
    flex-basis: calc(33.3333% - 5px);
    margin-bottom: 5px;
  }
  &__media-full {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  &__media-full-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  &__media-caption {
    margin-top: var(--space-2xs);
  }
}

//! Navigation closed // Styles for about, imprint&privacy
.page-content__navigation--closed {
  position: relative;
  width: 80%;
  padding: calc(40px + (2 * var(--space-lg))) var(--space-xs) 0 0;
  margin-left: 20%;
  transition: transform 0.3s ease;
  z-index: 10;
}

.page-content {
  &__static {
    column-count: 2;
    margin: 0;
    break-inside: avoid;
    /* Optional: Helps prevent jumping */
    page-break-inside: avoid;
    position: relative;
    z-index: 10;

    p {
      margin-bottom: var(--space-sm);
      text-align: justify;
      hyphens: auto;
    }
  }

  &__static-section-content {
    a {
      text-decoration: underline;
      &:hover {
        color: var(--color-accent-light);
        cursor: pointer;
      }
    }
  }
}

//! STYLES FOR MOBILE
@media (max-width: 768px) {
  //! Content on open navigation
  .page-content {
    width: 100%;
    min-height: 100vh;
    padding: calc(40px + 2 * var(--space-lg)) var(--space-xs) var(--space-sm)
      var(--space-xs);
    margin-left: 0;
    transform: none;

    &__article {
      column-count: 1;
      margin: var(--space-sm) 0;

      p {
        margin-bottom: var(--space-sm);
      }
    }
  }
  .page-content__static {
    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    transform: none;
    column-count: 1;
    margin: var(--space-sm) 0;

    p {
      margin-bottom: var(--space-sm);
    }
  }
}
