.project-inner {
  .col-left h2,
  .col-right h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.project-text-block {
  text-align: justify;
  hyphens: auto;
}

p {
  margin-bottom: 1rem; /* Abstand zwischen Absätzen */
}

.project-text-block p:last-child {
  margin-bottom: 0;
}

.project-text-block br {
  display: block;
  content: "";
  margin-bottom: 0.3rem; 
}
