.page-navigation__desktop-nav,
.page-navigation__mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1;
}

//* Header
.page-navigation__header {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  gap: 1rem;
  row-gap: 0;
  grid-template-rows: auto 1fr; /* Add a second row */
  align-items: center;
  padding-bottom: 1.8rem;
  text-align: center;

  .page-navigation__header-item {
    text-align: left;
    grid-column: 2 / -1;
    align-self: start;
    span {
      font-weight: 800;
      font-family: Roboto, sans-serif;
      line-height: 1.2;

      &:hover {
        color: var(--color-accent);
        cursor: pointer;
      }
    }
  }
}

//* Main Navigation
.page-navigation {
  &__grid {
    display: grid;
    grid-template-columns: 3rem 1fr 1fr 1fr;
    gap: 1rem;
    align-items: start;
  }
  &__year {
    grid-column: 1;
    padding-left: 0.5rem;
    text-align: right;
    h2 {
      font-style: italic;
    }
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #000000;

    &:hover {
      color: var(--color-accent);
    }
  }
  a {
    &:hover,
    &:focus-visible {
      color: var(--color-accent);
    }
  }
}

.page-navigation__category {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  word-break: break-word;
  overflow: hidden;
  li {
    padding-bottom: 0.4rem;
  }
  &--artist {
    grid-column: 2;
  }
  &--program {
    grid-column: 3;
  }
  &--environment {
    grid-column: 4;
  }
}

//* Styles for the open state
.page-navigation--open .page-navigation__header {
  grid-template-rows: auto; /* Only one row when open */
}
.page-navigation--open .page-navigation__header-item {
  grid-column: auto; /* Reset grid-column to default (auto placement) */
}

//* Bottom Nav
.page-navigation__bottom-nav {
 
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  gap: 1rem;
  padding: var(--space-md) 0 var(--space-sm);
  width: 100%;
  li {
    text-align: left;
  }
  span {
    font-weight: 800;
  }

  &--left {
    grid-column: 2;
  }
  &--right {
    grid-column: 4;
  }

  &--imprint-link {
    span {
      color: rgb(198, 198, 198);
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

//! MOBILE NAVIGATION
@media (max-width: 768px) {
  .page-navigation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;

    &__mobile-nav {
      flex-grow: 1;
    }

    //* Header
    &__header {
      display: grid;
      grid-template-columns: 3rem 4rem 5rem 6rem;
      gap: 0.5rem;
      row-gap: 0;
    }

    &__header-item {
      text-align: left;
      grid-column: 2 / -1;
      text-align: center;
    }
  }

  .page-navigation--closed {
    .page-navigation__header {
      grid-template-columns: 1rem 4rem 5rem 6rem;
    }
  }

  //* Main Navigation
  .page-navigation__grid {
    display: grid;
    grid-template-columns: 3rem 4rem 5rem 6rem;
    gap: 0.5rem;
    align-items: start;
  }

  .page-navigation__category {
    &--artist {
      grid-column: 2 / 3;
      width: 200%;
      overflow: visible;
      position: relative;
    }
    &--program {
      grid-column: 3 / 4;
      width: 200%;
      overflow: visible;
      position: relative;
    }
    &--environment {
      grid-column: 4 / 4;
      width: 150%;
      overflow: visible;
      position: relative;
    }
  }

  //* Bottom Nav
  .page-navigation__bottom-nav {
    gap: 0.5rem;
    width: 100%;
    padding: var(--space-sm) 0;
    grid-template-columns: 3rem 1fr 1fr 1fr;
    position: relative;
    z-index: 30;
  }
  .page-navigation--open .page-navigation__bottom-nav {
    grid-template-columns: 3rem 4rem 5rem 6rem;
  }
}

.page-navigation--closed {
  .page-navigation__bottom-nav {
    grid-template-columns: 1rem 4rem 5rem 6rem;
  }
}

//* Scrollbar
.page-navigation__mobile-nav {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
.page-navigation__mobile-nav::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

//* Movile nav Toggle
.mobile-nav-toggle {
  position: fixed;
  top: var(--space-lg);
  left: 4px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  svg {
    font-size: 1.5rem;
  }
}

//* Disabled
[disabled] {
  cursor: not-allowed;
  color: black;
}
// [data-disabled="true"] {
//   cursor: not-allowed;
// }
