

.slideshow-wrapper {
    width: 50%;
    overflow: hidden;
    // border: 1px dotted white;
    position: relative;
    left: 30%;
    transform: translateX(-50%);
    margin-top: 3rem;

    // .slideshow-item {
    //     border: 1px pink solid;

    // }

}