:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
.sr-only {
  position: absolute;
  clip-path: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
